html {
    height: 100%;
}
  
body {
    margin: 0;
    height: 100%;

    background: #d5dae6;
}

@font-face {
    font-family: "EaistFont";
    src: url(./eaist-font.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 600;
    src: url(./Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url(./Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url(./Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url(./Roboto-Light.ttf);
}

:root {
    --sidebar-width: 260px;
}